.card {
	height: 100%;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-paper);
	border: 1px solid var(--color-border-card);
	border-radius: var(--border-radius-lg);
}

.cardContent {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing-unit) * 0.5);
	margin: calc(var(--spacing-unit) * 2);
	padding: var(--spacing-unit);
	padding-bottom: 0;
}

.cardContent:last-child {
	padding: 0;
}
