.container {
	width: 100%;
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(var(--spacing-unit) * 4);
	padding-right: calc(var(--spacing-unit) * 4);
	box-sizing: border-box;
}

.containerXl {
	max-width: 1536px;
}

.containerLg {
	max-width: 1200px;
}

.containerMd {
	max-width: 900px;
}

.containerSm {
	max-width: 600px;
}
