.progress {
	position: relative;
	height: 4px;
	width: 100%;
	background-color: var(--color-gray-200);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.progressBar {
	height: 100%;
	border-radius: var(--border-radius);
	transition: width 0.3s ease-in-out;
}

.progressPrimary {
	background-color: var(--color-primary);
}

.progressSuccess {
	background-color: var(--color-success-text);
}

.progressError {
	background-color: var(--color-error-text);
}

.progressWarning {
	background-color: var(--color-warning-text);
}
